* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Greta Sans, Helvetica, sans-serif;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: radial-gradient(ellipse farthest-corner, #800080 0%, #000 90%);
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  width: 1120px;
  height: 500px;
  transition: all 400ms;
}

.container:hover .card {
  filter: grayscale(100%) opacity(16%)
}

.card {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: var(--img) center center;
  background-size: cover;
  transition: all 400ms;
}

.container .card:hover {
  filter:grayscale(0%) opacity(100%);
}

.container:has(.card-1:hover) {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container:has(.card-2:hover) {
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
}

.container:has(.card-3:hover) {
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
}

.container:has(.card-4:hover) {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
}

.container:has(.card-5:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1fr 1fr;
}

.container:has(.card-6:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
}

.container:has(.card-7:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
}

.card:nth-child(old) {
  transform:translateY(-16px);
}

.card:nth-child(even) {
  transform:translateY(16px);
}

.card::after {
  padding: 10px 10px 14px 10px;
  content:attr(data-text);
  position: absolute;
  bottom: 20px;
  background: #000;
  transform: translateY(60px);
  transition: all 400ms;
  opacity: 0;
}

.card:hover::after {
  transform: translateY(0);
  transition: all 400ms;
  opacity: 0;
}

.header-text {
  color: #000;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 60px;
  font-size: 54px;
}

.card__name {
  display: flex;
  position: absolute;
  bottom: 20px;
  background: #000;
  opacity: 0;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  justify-content: center;
}

.card__name-text {
  align-self: center;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}

.card:hover .card__name {
  opacity: 100%;
}